body {
	background: black;
}

* {
	border: 1px dashed red;
	min-height: 10px;
	font-family: "Playwrite NZ Basic", cursive;
}

.postcard {
	background: white;
	width: 400px;
	height: 300px;
	margin: auto;
}

.postcard-header {
	display: flex;
}

.postcard-header img {
	width: 50px;
	height: 50px;
}

.postcard-header h1 {
	width: 350px;
	margin: 0%;
}

.postcard-body {
	display: flex;
}

.body-left p:first-child {
	margin-top: 0;
}

.body-left,
.body-right {
	padding: 5px;
}

p {
	font-size: 14px;
}

input {
	border: none;
	border-bottom: 2px solid gray;
}

.postcard-footer {
	text-align: center;
}

.postcard-footer button {
	background-color: gray;
	padding: 5px;
}
